
<div class="cart" (click)="open()">Cart <img src="../../../assets/images/cart.png" alt="" />
  <nz-badge [nzCount]="cartItemCount">
      <a class="head-example"></a>
  </nz-badge>
</div>
<nz-drawer [nzClosable]="false" [nzVisible]="visible" nzPlacement="right" nzTitle="Cart" (nzOnClose)="close()">
  <ng-container *nzDrawerContent>
    <div *ngFor="let item of cartItems">
      <div class="cart-item">
        <div class="cart-item-details">
          <img nz-image width="50px" height="50px" [nzSrc]="item.thumbnail" alt="{{item.title}}" />
          <div>
            <h3>{{item.title}}</h3>
            <p>{{item.description}}</p>
          </div>
        </div>
        <div class="cart-item-actions">
          <button nz-button nzType="default" (click)="decreaseCount(item)">-</button>
          <span>{{item.count}}</span>
          <button nz-button nzType="default" (click)="increaseCount(item)">+</button>
        </div>
      </div>
    </div>
    <nz-empty *ngIf="!cartItemCount"></nz-empty>
    <app-billing *ngIf="cartItemCount"></app-billing>
  </ng-container>
</nz-drawer>

  