<nz-layout>
    <app-header></app-header>
    <nz-layout>
        <nz-sider nzWidth="200px" nzTheme="light">
            <ul nz-menu nzMode="inline" class="sider-menu">
                <ul>
                    <app-categories></app-categories>
                </ul>
            </ul>
        </nz-sider>
        <nz-layout class="inner-layout">
            <nz-content>
                <router-outlet>
                </router-outlet>
            </nz-content>
        </nz-layout>
    </nz-layout>
</nz-layout>