<div class="filter-area">
  <div class="filter">
    <nz-select [ngModel]="selectedLimit" (ngModelChange)="onLimitChange($event)">
      <nz-option [nzValue]="5" nzLabel="5"></nz-option>
      <nz-option [nzValue]="10" nzLabel="10"></nz-option>
      <nz-option [nzValue]="15" nzLabel="15"></nz-option>
      <nz-option [nzValue]="20" nzLabel="20"></nz-option>
    </nz-select>
  </div>
  <div class="sort">
    <nz-select [ngModel]="selectedSortOrder" (ngModelChange)="onSortOrderChange($event)">
      <nz-option [nzValue]="'asc'" nzLabel="Asc">Asc</nz-option>
      <nz-option [nzValue]="'desc'" nzLabel="Desc">Desc</nz-option>
    </nz-select>
  </div>
</div>